body {
    background-color: #22313f;
}

.footer {
    background-color: #22313F;
    color: #ddd;
    text-align: center;
    border-top: 1px solid #34495E;
    margin-top: 30px;
    height: 50px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.customNav {
    background-color: #22313f;
    border-radius: 0px;
    border-bottom: 2px solid #34495E;
}

.customNav .navbar-brand {
    color: #F2784B;
}

.searchbar {
    padding-top: 30px;
}

.resultEvents {
    background-color: #22313F;
    color: #ddd;
    border: 5px solid #34495E;
    width: 90%;
    margin: auto;
    padding: 10px;

}

.card {
    padding-top: 10px;
    padding-bottom: 10px;
}

.head {
    text-align: center;
}

.head a {
    color: #F2784B;
}

.container {
 display: flex;
 width: 100%;
 text-align: center;
}

.standard {
    width: 100%;
}

.value {
    width: 100%;
}

.stack {
    padding: 10px;
}

.standard .stack {
    width: 30%;
    display: inline-block;
    margin: auto;
}

.value .stack {
    width: 20%;
    display: inline-block;
    margin: auto;
}

.search {
    height: 50%;
    width: 80%;
    margin: auto;
    padding-top: 80px;
    margin-top: 100px;
}

.submit {
    width: 30%;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.bottomfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.noValue {
    text-align: center;
    width: 100%;
    margin: auto;
}

.teamsHeader {
    text-align: center;
    color: white;
    padding: 30px;
}

.teamName {
    color: #F2784B;
    margin-bottom: 30px;
}

@media (max-width: 700px) {
    .value .stack {
        width: 45%;
        display: inline-block;
        margin: auto;
    }
}