
{{template "_nav.html" .}}
<div class="results">
  {{range .}}
  <div class="card">
    <div class="well resultEvents">
      <div class="head">
        <h5 class="title">{{.Name}}</h3>
        <p>{{.DateTime}}</p>
        <a target="_blank" rel="noreferrer noopener" href="https://www.stubhub.com/{{.WebURI}}">Get Tickets on Stubhub</a>
      </div>
      <div class="container">
        <div class="standard">
          <div class="stack">
            <p>Total Tickets</p>
            <p>{{.TotalTickets}}</p>
          </div>
          <div class="stack">
            <p>Avg Price</p>
            <p>{{printf "%.2f" .AvgPrice}}</p>
          </div>
          <div class="stack">
            <p>Low Price</p>
            <p>{{printf "%.2f" .LowPrice}}</p>
          </div>
        </div>
      </div>
      <div class="container">
        {{if .NoValue}}
        <div class="noValue">
          <h5>No Value Information Available</h5>
        </div>
        {{else}}
        <div class="value">
          <div class="stack">
            <p>Best FaceValue:Price Ratio</p>
            <p>{{printf "%.2f" .BestRatio}}</p>
          </div>
          <div class="stack">
            <p>Avg FaceValue:Price Ratio</p>
            <p>{{printf "%.2f" .AvgRatio}}</p>
          </div>
          <div class="stack">
            <p>Best Value Price</p>
            <p>{{printf "%.2f" .BestPrice}}</p>
          </div>
          <div class="stack">
            <p>Best Value Face Value</p>
            <p>{{printf "%.2f" .BestFace}}</p>
          </div>
          <div>
            <a target="_blank" rel="noreferrer noopener" href="https://wwww.stubhub.com/{{.WebURI}}/?ticket_id={{.BestListing}}">
              View The Best Value Ticket
            </a>
          </div>
        </div>
        {{end}}
      </div>
    </div>
    </div>
    {{end}}
</div>
{{template "_footer.html" .}}
</body>
</html>


