{{template "_nav.html" .}}
<div class="searchBG">
<form action="/results/" method="POST">
<div class="search well">
  <h1 class="head">Search for the best deal</h1>
  <div class="searchbar input-group">
    <span class="input-group-addon inputLabel" id="username">Search:</span>
    <input type="text" name="search" class="form-control loginLabel" placeholder="Baltimore Orioles" aria-describedby="search">
  </div>

  <div class="submit">
    <button type="submit" class="btn btn-success" value="Submit">Search</button>
  </div>
</div>
</form>
<div class="bottomfooter">
{{template "_footer.html" .}}
</div>
</div>